.header {
  width: 200px;
  height: 200px;
  background-color: skyblue;
}
.header a {
  color: red;
}
.header a:hover {
  color: blue;
}
.header .logo {
  width: 100px;
  height: 100px;
  background-color: green;
}
.header::before {
  content: "";
}
