@font-face {
  font-family: "iconfont";
  /* Project id 4284488 */
  src: url('iconfont.woff2?t=1697115633203') format('woff2'),
    url('iconfont.woff?t=1697115633203') format('woff'),
    url('iconfont.ttf?t=1697115633203') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiala:before {
  content: "\e67d";
}